@import "@material/fab/mdc-fab";
@import "@material/button/mdc-button";

.send-button {
    color: red;
    @include mdc-button-ink-color(red);
    // @include mdc-button-filled-accessible(pink);
}

.add-task-fab {
    background-color: red;
    position: fixed;
    right: 1rem;
    bottom: 5rem;
}

.invoice {
    overflow-y: auto;
    overflow-x: hidden;
}

.total-row {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: lightyellow;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.total-row-left {
    width: 75%;
    padding-left: .5rem;
    font-weight: bold;
}

.total-row-right {
    text-align: right;
    width: 25%;
}