@import "@material/fab/mdc-fab";

.mdc-fab {
    background-color: red;
}

.total-row {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: lightyellow;
    padding: 1rem;
}